/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/npm-cache

public/assets/img/19\.jpg

public/assets/img/21\.jpg

public/assets/img/3\.jpg

public/assets/img/4\.jpg

public/assets/img/6\.jpg

public/assets/img/7\.jpg
